/build/
**/build/
/.gradle/
*.class
/out/
/bin/
/dist/
/target/
/tmp/
/temp/
# IDE project files (❤️ ty maybeizen)
.idea/
*.iml
*.iws
*.ipr
.vscode/
.classpath
.project
.settings/
.metadata/
logs/
*.log
hs_err_pid*
replay_pid*.hprof
.env
.env.*
!.env.example
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.cache/
.kotlinc/
